<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Как правильно по-русски?</title>
	 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="description" content="форма с вопросами">
	</head>
	<body>
		<header style="background-color:#2E7D32; border-radius: 30px 30px 30px 30px; "> 
			<div class="container"> 
				<div class="row">
					<div class="col-md-4">
						<br/><br/>
						<h1 style="color:white; margin:20px 20px 20px 20px;">Как другим кажется, какие из этих предложений правильные?</h1>
						<hr>
						<p><i style="color:white; margin:20px 20px 0px 20px;">Немного таблиц</i></p> 
	                </div>
					<div class="col-md-4">
        	            <img src="{{url_for('static', filename='H3sot.jpg')}}" title="Аж трясёт" alt="" style="height:200px; width:400px; margin:0px 20px 5px 1000px; " >
					</div>
	            </div>
			</div>
		</header>

 		<table style="width:100%">
 			{% for d in data %}
 				<table style="width:100%; border: 1px solid #2E7D32; border-radius: 10px 10px 10px 10px; margin:20px 0px 20px 0px; text-align: left; border-spacing: 5px;">
 					<tr>
 						<th width="5%">{{ d[0] }}</th>
 						<th width="95%">{{ d[1] }}</th>
 					</tr>
 					{% for each in d[2] %}
 					<tr>
 						<td width="5%">{{ each[0] }}</td>
 						<td width="95%">{{ each[1] }}</td>
 					</tr>
 					{% endfor %}
 				</table>
 			{% endfor %}
 		</table>

 		</form>
	</body>
</html>